:root {
    --shadow: #48e0ff83;
    --bg: #D7F8FF;
    --text: #0C3149;
    --text2: #467CA0;
    --border: #48E0FF;
    --text3: #96ecff;
}

.courses-main-div{
    width: 80%;
    margin: auto;
}

.courses-heading{
    font-size: 28px;
    color: var(--text);
    font-weight: 500;
    margin-bottom: 20px;
}

.all-courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

/* Individual Course */
.course{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--text);
    box-shadow: inset 1px 1px 10px var(--shadow);
    margin-top: 10px;
    transform: scale(1);
    transition: transform 0.3s;
}

.course:hover{
    transform: scale(1.01);
}

.course hr{
    margin-top: 10px;
}

.course-heading{
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
}

.course-detail{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--text3);
    margin-top: 20px;
}

.course-description{
    color: white;
    font-weight: 400;
    margin-top: 20px;
}

.course-buttons{
    display: flex;
    justify-content: space-between;
}

.course-buttons a{
    background-color: var(--text3);
    color: var(--text);
    box-shadow: inset 1px 1px 10px var(--shadow);
    border-radius: 5px;
    padding: 3px 14px;
    margin: 30px 0px 10px 0px;
    transition: 3;
}

.course-buttons a:hover{
    border-radius: 15px 10px;
}