:root {
    --shadow: #48e0ff83;
    --bg: #D7F8FF;
    --text: #0C3149;
    --text2: #467CA0;
    --border: #48E0FF;
}

.skills-main-div{
    width: 80%;
    margin: auto;
}

.all-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 70%;
}

.skills-heading{
    font-size: 28px;
    color: var(--text);
    font-weight: 500;
}

.my-skill{
    display: flex;
    color: var(--text);
    font-weight: 400;
    align-items: center;
    margin: 5px;
    border: 1px solid var(--border);
    border-radius: 10px;
    box-shadow: inset 1px 1px 5px var(--shadow);
    padding: 2px 4px;
    width: fit-content;
}

.my-skill img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.my-skill div{
    font-size: 18px;
    margin: 5px 10px;
}