/* Common CSS */
*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li{
  list-style: none;
}

.empty-space{
  height: 100px;
}

:root {
  --shadow: #48e0ff83;
  --bg: #D7F8FF;
  --text: #0C3149;
  --border: #48E0FF;
}

/* Navbar */
.navbar-main-div {
  background-color: var(--bg);
  width: 80%;
  box-shadow: inset 1px 1px 10px var(--shadow);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  z-index: 299;
}

ul {
  display: flex;
  justify-content: space-around;
}

ul li{
  margin: 10px;
  font-weight: 500;
  color: var(--text);
  font-size: 16px;
}

.hamburger-button {
  display: none;
  background: transparent;
}

/* Button to Top */
.button-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 299;
  transform: translateY(-40px);
}

@keyframes topButton {
  from {bottom: -20px;}
  to {bottom: 20px;}
}

.animate{
  animation: topButton 0.2s;
}

.button-to-top button {
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.button-to-top button i {
  background: var(--border);
  border-radius: 50%;
  padding: 8px;
}

.hide-nav {
  display: none;
}

/* Making Responsive */
@media screen and (min-width: 1480px) and (max-width: 1750px) {
  .app-bg .main-nav {
    width: 60%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .app-bg .main-nav {
    width: 70%;
  }
}

@media screen and (min-width: 1040px) and (max-width: 1280px) {
  .app-bg .main-nav {
    width: 90%;
  }
}

@media screen and (min-width: 0px) and (max-width: 1040px) {

  /* Mobile View  */
  .nav-link {
    display: none;
  }

  .nav-link ul li {
    margin: 0px 20px;
  }

  .main-nav {
    height: 0rem;
  }

  .mobile-nav-link {
    display: block;
    position: relative;
    z-index: 99;
  }

  .mobile-nav-link {
    background-color: var(--text);
    height: 20rem;
    align-items: center;
    padding-left: 0px;
    transition: all 0.2s linear;
    transform-origin: top;
    box-shadow: inset 1px 1px 10px var(--shadow);
    margin-top: 30px;
    position: fixed;
    top: 30px;
  }

  .mobile-nav-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
  }

  .mobile-nav-link li a {
    color: white;
  }

  .hamburger-button {
    display: block;
    position: fixed;
    z-index: 89;
    top: 20px;
  }

  .hamburger-button i {
    color: var(--border);
    font-size: 30px;
  }
}